.aboutWrapper {
  height: 60vh;
  /* line-height: 55.6vh; */
  background-color: #ffffffd1;
}

.aboutMain {
  margin: auto;
  max-width: 70%;
  display: flex;
  /* background-color: beige; */
}

@keyframes aboutTipsy {
  _0 {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.aboutMain h2 {
  /* line-height: 50vh; */
  margin-top: 25vh;
  margin-bottom: 25vh;
  padding: 1.2%;
  font-size: 2.3em;
  min-width: 30%;
  user-select: none;
  animation: 2s ease infinite aboutTipsy;
}

.aboutMain h2:hover {
  animation-play-state: paused;
  color: rgb(93, 93, 252);
}

.aboutMain .introTitle {
  user-select: none;
  text-align: left;
  width: 100%;
}

.aboutMain .introTitle h3 {
  /* border-left: 2px solid black; */
  padding-left: 1%;
  margin-top: 22%;
  font-size: 1.7em;
  margin-bottom: 5%;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.intro {
  font-size: medium;
  position: relative;
  overflow: hidden;
  animation: 1s ease-in-out fadein;
  /* animation: ease-in-out; */
}

.aboutMain .intro {
  border-left: 2px solid black;
  padding-left: 2%;
}

.aboutMain .introTitle span {
  font-weight: bold;
  color: rgb(215, 55, 55);
}

.aboutMain .introTitle p a {
  text-decoration: none;
  font-weight: bold;
}

/* 500px 이상 되는 순간 사라짐*/
@media (min-width: 500px) {
  /* todo */
}

/* Mobile 버전, 500px 이하가 되는 순간 사라짐 */
@media (max-width: 500px) {
  .aboutMain {
    max-width: 82%;
  }

  .aboutWrapper {
    height: auto;
    padding-bottom: 20%;
  }

  .aboutMain {
    display: block;
  }

  .aboutMain h2 {
    align-items: center;
    margin-bottom: 2%;
    padding: 0;
    padding-top: 25%;
    font-size: 1.7em;
    min-width: 0%;
  }

  .aboutMain .introTitle h3 {
    margin-top: 8%;
    padding-left: 1%;
    font-size: 1.5em;
    margin-bottom: 10%;
    text-align: center;
  }

  .aboutMain .intro {
    text-align: center;
    border-left: none;
    font-size: 15px;
    padding: 1.3%;
    border: 1px solid gray;
    border-radius: 10px;
  }
}
