/* 둥둥 떠다님 */
@keyframes skillanimation {
  _0 {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.projectWrapper {
  /* height: 50vh; */
  /* line-height: 50vh; */
  background-color: rgb(183 219 248 / 80%);
}

.project-title {
  font-family: 'Quicksand', 'Noto Sans KR', sans-serif;
  font-size: 2.5vw;
  font-weight: bold;
  margin: 0;
  padding-top: 4%;
  padding-bottom: 1%;
  color: rgb(73, 43, 238);
}

.project-card-wrapper {
  display: inline-block;
  margin-bottom: 8%;
}

.card {
  display: inline-flex;
}

.card-img {
  border-radius: 7px;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 320px;
}
