.skill {
  /* height: 70vh; */
  /* line-height: 70vh; */
  padding-bottom: 10%;
  background-color: #e3ffdae8;
}

.skillTitle {
  font-family: 'Quicksand', 'Noto Sans KR', sans-serif;
  font-size: 2.8vw;
  font-weight: bold;
  margin: 0;
  padding-top: 4%;
  padding-bottom: 1%;
  color: rgb(27, 94, 25);
}

.skill-wrapper {
  background-color: #f0efff;
  padding-top: 1%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;
  width: 65%;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 20%);
}

.first-line {
  margin-top: 1%;
  margin-bottom: 4%;
}

.first-title {
  font-size: 1.2vw;
  margin: auto;
  margin-bottom: 2.2%;

  width: 10%;
  border-radius: 10px;
  background-color: #e3ffdae8;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
}

.second-line {
  margin-top: 2%;
  margin-bottom: 4%;
}

.second-title {
  font-size: 1.2vw;
  margin: auto;
  margin-bottom: 2%;

  width: 10%;
  border-radius: 10px;
  background-color: #e3ffdae8;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
}

.third-line {
  margin-top: 2%;
  margin-bottom: 1%;
}

.third-title {
  font-size: 1.2vw;
  margin: auto;
  margin-bottom: 2.2%;

  width: 10%;
  border-radius: 10px;
  background-color: #e3ffdae8;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
}

img {
  margin-left: 1%;
  margin-right: 1%;
}

/* 회전 */
@keyframes run {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 둥둥 떠다님 */
@keyframes skillanimation {
  _0 {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

#htmlLogo {
  width: 105px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 20%);
}
#htmlLogo:hover {
  animation: skillanimation 1s infinite;
}

#cssLogo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 20%);
}
#cssLogo:hover {
  animation: skillanimation 1s infinite;
}

#jsLogo {
  width: 100px;
  border-radius: 30%;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 20%);
}
#jsLogo:hover {
  animation: skillanimation 1s infinite;
}

#reactLogo {
  width: 110px;
}
#reactLogo:hover {
  animation: run 1s linear infinite;
}

#reduxLogo {
  width: 100px;
  border-radius: 20%;
}
#reduxLogo:hover {
  animation: skillanimation 1s infinite;
}

#nodeJSLogo {
  width: 100px;
  border-radius: 20%;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 20%);
}
#nodeJSLogo:hover {
  animation: skillanimation 1s infinite;
}

#mySQLLogo {
  width: 100px;
  border-radius: 10%;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 20%);
}
#mySQLLogo:hover {
  animation: skillanimation 1s infinite;
}

#awsLogo {
  width: 100px;
  border-radius: 10%;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 20%);
}
#awsLogo:hover {
  animation: skillanimation 1s infinite;
}

#gitLogo {
  width: 100px;
  border-radius: 50%;
  background-color: antiquewhite;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 20%);
}
#gitLogo:hover {
  animation: skillanimation 1s infinite;
}

#notionLogo {
  width: 100px;
  /* border-radius: 20%; */
  /* box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 20%); */
}
#notionLogo:hover {
  animation: skillanimation 1s infinite;
}

#slackLogo {
  width: 100px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 20%);
}
#slackLogo:hover {
  animation: skillanimation 1s infinite;
}

.moreBtn {
  font-family: '고딕';
  font-size: 14px;
  background-color: #ffffff;
  margin-top: 2%;
  margin-bottom: 5%;
  width: 10vh;
  height: 3.3vh;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 20%);
  border: none;
  border-radius: 8px;
}
.moreBtn:hover {
  background-color: #cafdfc;
}
.moreBtn:active {
  background-color: #ffffff;
}
